.page {
    position: fixed;
    top: 0;
    left: 8vw;
    bottom: 0;
    right: 8vw;
    @media (max-width: 1024px) {
        top: 60px;
        right: 0;
        left: 0;
        padding: 20px;
    }
    &__content {
        right: 0;
        left: calc(100vw / 6 - 8vw);
        visibility: hidden;
        opacity: 0;
        transition: 0.5s;
        padding: 50px 0;
        line-height: 1.7;
        @media (max-width: 1024px) {
            left: 0;
            padding: 50px 15px;
        }
        .ui-scroll__inner {
            padding-top: 60px;
        }
        p {
            font-size: 16px;
            margin-bottom: 20px;
            @media (max-width: 1024px) {
                font-size: 14px;
                margin-bottom: 15px;
            }
            a {
                color: #000;
                transition: all 0.3s linear;
            }
        }
    }
    &__content.-show {
        visibility: visible;
        opacity: 1;
        z-index: 2;
        position: absolute;
        top: 0;
        bottom: 0;
    }
    &__text {
        width: 700px;
        max-width: 100%;
    }
    &__title {
        font-weight: bold;
        font-size: 56px;
        line-height: 64px;
        margin-bottom: 60px;
        @media (max-width: 1024px) {
            font-size: 22px;
            line-height: 28px;
            margin-bottom: 40px;
        }
    }
}
.background-line {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.08);
    z-index: 4;
}
.background-line {
    left: calc(100vw / 6 * 5);
    @media (max-width: 1024px) {
        display: none;
    }
}
